@mixin medidas($medida){
	height: $medida;
	width: $medida;
}

@mixin posicion-esferas($relativo, $top, $left){
		position: $relativo;
		top: $top;
		left: $left;
}
@mixin orden-esfera($top0, $left0, $bottom, $rigth){
	position: $relativo;
	top: $top0;
	left: $left0;
	bottom: $bottom; 
	rigth: $rigth;
}