@mixin medidas($medida){
	height: $medida;
	width: $medida;
}

@mixin posicion-estrellas($relativo, $top, $left){
		position: $relativo;
		top: $top;
		left: $left;
}
@mixin orden-esfera($top0, $left0, $bottom, $rigth){
	position: $relativo;
	top: $top0;
	left: $left0;
	bottom: $bottom; 
	rigth: $rigth;
}
@mixin shadow-borde(){
	-webkit-box-shadow: -1px 0px 70px 17px rgba(240,163,31,1);
	-moz-box-shadow: -1px 0px 70px 17px rgba(240,163,31,1);
	box-shadow: -1px 0px 70px 17px rgba(240,163,31,1);
}