/*-- COLORES --*/
$color-esfera : #ff9933;
$color-estrella : #ff0000;

/*-- TAMANIOS --*/
$base-tamanio-esfera: 140px;
$base-tamanio-estrella : $base-tamanio-esfera/4;
// orden de estrellas
$relativo : relative;
$top: 30px;
$left: 30px;
// orden esferas 
$top0: 0px;
$left0: 0px;
$bottom: 0px;
$rigth: 0px;